body{
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-size:20px;
    background-color:#760F99;
    line-height:1.6;
}

.nav-bar{
    height:70px;
    width:100%;
}

.nav-list{
    display:flex;
    justify-content:center;
    list-style-type:none;
    margin-top:20px;
    font-weight:bold;
    padding:5px 10px;
}

.nav a{
    opacity:0.9;
    background-color:#D896EE;
    border-radius:12px;
    padding:5px 30px;
    margin-left:20px;
    text-decoration:none;
    color:#5F007F;
}


.nav :hover{
    background-color:#8E23B2;
}

.con{
    float:left;
    width:50%;
    height:600px;
   
}

.col1{
    width:90%;
    height:600px;
    border: 2px solid #D896EE;
    border-radius:10px;
    margin-left:50px;
}

h1{
    color:#5F007F;
    border-radius: 4px;
    background-color:#A83DCC;
    width:50%;
    text-align:center;
    height:32px;
    font-size:20px;
    margin:0 auto;
    margin-top:30px;
}

iframe{
    display:block;
    margin:0 auto;
    margin-top:30px;
}
.col2{
    width:90%;
    height:600px;
    border: 2px solid #D896EE;
    border-radius:10px;
}


.foot{
    position:static;
}

/******SOCIAL MEDIA BUTTONS START******/

.social{
    text-align:center;
}

    

.fa-facebook{
    color:#4267b2;
    font-size:50px;
    margin-right:20px;
    margin-top:15px;
}

.fa-instagram{
    color:#231F20;
    font-size:50px;
}
/******SOCIAL MEDIA BUTTONS END******/

.copyright{
    text-align:center;
    margin-top:25px;
}